body {
    text-align: center;
    font: 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



a {
    text-decoration: none;
}

footer {
    font-size: 0.78em;
    text-align: center;
    color: #ccc;
}